doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Amazon Carousel")
    meta(name="author" content="KKambi")
    title= title
  body
    p Welcome to #{title}
    div.mini-carousel-container
      div.mini-carousel-scroller
        div.mini-carousel-col.mini-carousel-left 
          button.mini-carousel-arrow#left-arrow
        div.mini-carousel-viewport
          ol.mini-carousel-row(style=`transform: translateX(-${carousel_row_width}px)`)
            li.mini-carousel-card
              a.img-link
                img(src="/images/Sub_Card_A/Sub_Card_A01.jpg" alt="Homecoming New Series")
            li.mini-carousel-card
              a.img-link
                img(src="/images/Sub_Card_A/Sub_Card_A02.jpg" alt="The Man in the High Castle")
            li.mini-carousel-card
              a.img-link
                img(src="/images/Sub_Card_A/Sub_Card_A03.jpg" alt="The Marvelous Mrs.Meisel")
            li.mini-carousel-card
              a.img-link
                img(src="/images/Sub_Card_A/Sub_Card_A04.jpg" alt="Tom Clansy's Jack Lyan")
        div.mini-carousel-col.mini-carousel-right
          button.mini-carousel-arrow#right-arrow
      div.benefit
        h2.benefit-header
        div.benefit-blurb
        div.benefit-cta
    script(src="/dist/index.bundle.js")
