doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Amazon Carousel")
    meta(name="author" content="KKambi")
    title= title
  body
    div#navbar
        div.nav-container
            div.nav-welcome-message
                | 관리자 페이지
            div.nav-buttons
                div.nav-user-button
                    a.nav-user-link.link(data-link-type="user")
                        | 사용자
                div.nav-carousel-button
                    a.nav-carousel-link.link(data-link-type="carousel")
                        | 카로셀
                div.nav-item-button
                    a.nav-item-link.link(data-link-type="item")
                        | 아이템
                div.nav-index-button
                    a.nav-index-link(href="/")
                        | 돌아가기
    div#content-container

    script(src="/javascripts/admin.bundle.js")