doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Amazon Carousel")
    meta(name="author" content="KKambi")
    title= title
  body
    div#navbar
        div.nav-container
            div.nav-welcome-message
                if signed
                    | #{name}(#{user_id}) 님 환영합니다
                else
                    | 환영합니다
            div.nav-buttons
                if signed
                    if isAdmin
                        div.nav-admin-button
                            a.nav-signin-link.link(href="./admin")
                                | 관리
                    div.nav-logout-button
                        a.nav-logout-link.link(onclick="document.querySelector('#logout-form').submit();")
                            | 로그아웃
                        form#logout-form(action="/sessions/destroy" method="POST" style="display:none;")
                else
                    div.nav-signin-button
                        a.nav-signin-link.link(href="./users/new")
                            | 회원가입
                    div.nav-login-button
                        a.nav-login-link.link(href="./sessions/new")
                            | 로그인
    div#main-card-continaer.container
    div#main-beneift-container.container
    div#video-benefit-container.container
    div#music-benefit-container.container
    script(src="/javascripts/index.bundle.js")
    script(type="module" src="/javascripts/admin.js")