doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Amazon Carousel")
    meta(name="author" content="KKambi")
    title= title
  body
    div#video-benefit-container
    script(src="/dist/index.bundle.js")
